{% extends 'bootstrap/base.html' %}

{% block navbar %}

<nav class="navbar navbar-expand-lg navbar-dark bg-primary text-light">
  <a class="navbar-brand" href="#">Vote for change</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" href="/newpoll">Make your poll</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="#">Home</a>
      </li>
    </ul>
  </div>
  <ul class="navbar-nav">
    <li class="nav-item">
      <a class="nav-link" href="/logout">Logout</a>
    </li>
  </ul>
</nav>

{% endblock navbar %}

{% block content %}
{% for message in get_flashed_messages() %}
<div class="alert alert-warning alert-dismissible fade show" role="alert">
  {{message}}
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
{% endfor %}
  <div class="container">
	{% for question in questions %}
			<div class="card inline mt-2">
			  <div class="card-body">
			    <h5 class="card-title text-primary">{{question.title}}</h5>
			    <p class="card-text">{{question.question}}</p>
			    <a href="/home/{{question.title}}" class="btn btn-outline-success">Vote</a>
			  </div>
			</div>
	{% endfor %}
  </div>
{% endblock content %}