{% extends 'bootstrap/base.html' %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block navbar %}

<nav class="navbar navbar-expand-lg navbar-dark bg-primary text-light">
  <a class="navbar-brand" href="#">Vote for change</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" href="/newpoll">Make your poll</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="/home">Home</a>
      </li>
    </ul>
  </div>
  <ul class="navbar-nav">
    <li class="nav-item">
      <a class="nav-link" href="/logout">Logout</a>
    </li>
  </ul>
</nav>

{% endblock navbar %}

{% block content %}
  {% for message in get_flashed_messages() %}
  <div class="alert alert-warning alert-dismissible fade show" role="alert">
    {{message}}
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  {% endfor %}

  <div class="container">
  	<h1 class="display-2">{{question.title}}</h1>
  	<p class="lead">{{question.question}}</p>
  	<table class="table table-striped">
  	  <thead>
  	    <tr>
  	      <th scope="col">#</th>
  	      <th scope="col">Option</th>
  	      <th scope="col">Votes Cast</th>
  	    </tr>
  	  </thead>
  	  <tbody>
  	    <tr>
  	      <th scope="row">1</th>
  	      <td>{{question.option1}}</td>
  	      <td>{{options[0]}}</td>
  	    </tr>
  	    <tr>
  	      <th scope="row">2</th>
  	      <td>{{question.option2}}</td>
  	      <td>{{options[1]}}</td>
  	    </tr>
  	    <tr>
  	      <th scope="row">3</th>
  	      <td>{{question.option3}}</td>
  	      <td>{{options[2]}}</td>
  	    </tr>
  	    <tr>
  	      <th scope="row">4</th>
  	      <td>{{question.option4}}</td>
  	      <td>{{options[3]}}</td>
  	    </tr>
  	  </tbody>
  	</table>
  </div>
  <div class="text-center">
	  <a class="btn btn-outline-primary" href="/home">Go Back</a>
  </div>
{% endblock content %}